Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
.deps/
Makefile
chainloader/.deps/
chainloader/.dirstamp
bootconf/.dirstamp
chainloader/steamcl_elf-hello.o
config.log
config.status
steamcl.efi
steamcl.elf
steamos-bootconf
m4
*.o
util/steamcl-install
debian/.debhelper
debian/autoreconf.*
debian/files
debian/*.log
debian/*.substvars
debian/steamos-efi
debian/*stamp
