Source: steamos-efi
Maintainer: Vivek Das Mohapatra <vivek@collabora.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), gnu-efi, dh-autoreconf, automake, autoconf
Homepage: https://gitlab.collabora.com/vivek/efi-binaries
Vcs-Browser: https://gitlab.collabora.com/vivek/efi-binaries
Vcs-Git: https://gitlab.collabora.com/vivek/efi-binaries.git

Package: steamos-efi
Architecture: amd64
Depends: efibootmgr
Description: Stage 1 chainloader for SteamOS 3+
 SteamOS is designed to use a dual-image flip-flop boot process
 that allows rollback to the previous version and atomic OS updates.
 Each SteamOS image has its own bootloader and pseudo-esp partition:
 This chainloader's job is to choose the current image and invoke its
 bootloader.
 It requires EFI to work, and currently only builds for amd64.
 It does not impose any restrictions on the kernel or OS image
 as the stage 2 bootloader in the OS image deals with that.
