#!/usr/bin/make -f

confflags := --with-release-version=$(shell dpkg-parsechangelog -SVersion)
export V  := 0

override_dh_auto_configure:
	dh_auto_configure -- $(confflags)

%:
	dh $@ --with autoreconf
